<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.thinksoft.banana">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />

    <application
        android:name="com.thinksoft.banana.app.MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AnimAppTheme">

        <activity
            android:name="com.thinksoft.banana.ui.activity.start.StartActivity"
            android:theme="@style/StartTheme">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.thinksoft.banana.ui.activity.MainActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:theme="@style/ScaleAlphaTheme"
            />
        <activity
            android:name="com.thinksoft.banana.ui.activity.start.LoginActivity"
            android:theme="@style/ScaleAlphaTheme"
            />

        <activity android:name="com.thinksoft.banana.ui.activity.start.ModifyPassActivity" />
        <activity android:name="com.thinksoft.banana.ui.activity.start.RegisterActivity" />
        <activity android:name="com.thinksoft.banana.ui.activity.home.SearchActivity" />

        <activity
            android:name="com.thinksoft.banana.ui.activity.home.TypeActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />

        <activity
            android:name="com.thinksoft.banana.ui.activity.player.PlayerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:launchMode="singleTask" />
        <activity
            android:name=".ui.activity.player.PlayerVerticalActivity"
            android:launchMode="singleTask" />


        <activity android:name="com.thinksoft.banana.ui.activity.my.PersonDataActivity" />
        <activity android:name="com.thinksoft.banana.ui.activity.my.WalletActivity" />
        <activity
            android:name="com.thinksoft.banana.ui.activity.my.CollectActivity2"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name="com.thinksoft.banana.ui.activity.my.HistoryActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name="com.thinksoft.banana.ui.activity.my.PaymentActivity" />
        <activity android:name="com.thinksoft.banana.ui.activity.my.AboutActivity" />
        <activity android:name="com.thinksoft.banana.ui.activity.my.SettingActivity" />
        <activity android:name="com.thinksoft.banana.ui.activity.my.ChangeNameActivity" />
        <activity android:name="com.thinksoft.banana.ui.activity.my.ChangePhoneActivity" />
        <activity android:name="com.thinksoft.banana.ui.activity.start.AgreementActivity" />
        <activity
            android:name=".ui.activity.my.CollectActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.my.PerformerInfoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.type.TypeFilmDataActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity
            android:name=".ui.activity.circle.CircleAddActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:windowSoftInputMode="stateHidden"
            />
        <activity
            android:name=".ui.activity.circle.CircleDetailsActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ui.activity.circle.CirleImgActivity" />
        <activity
            android:name=".ui.activity.circle.CircleVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize" />
        <activity android:name=".ui.activity.my.SpreadActivity" />
        <activity android:name=".ui.activity.my.SpreadLinkActivity" />
        <activity android:name=".ui.activity.home.NovelDetailsActivity" />
        <activity android:name=".ui.activity.home.ImgeDetailsActivity" />
        <activity android:name=".ui.activity.home.MusicDetailsActivity" />
        <activity android:name=".ui.activity.player.MusicVideoActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            />
        <activity android:name=".ui.activity.player.MusicActivity" />
        <activity android:name=".ui.activity.home.novel.NovelTypeListActivity" />
        <activity android:name=".ui.activity.home.novel.NovelListActivity" />
        <activity android:name=".ui.activity.home.novel.NovelDetailsActivity" />
        <activity android:name=".ui.activity.PayWebActivity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>
    </application>

</manifest>